/* .legs {
    height: auto;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
    transform: rotate(-40deg);
} */
 
.container {
    padding: 50px;
}

/* button */
.adopt {
    display: flex;
    justify-content: end;
    align-items: center;
}

.btnAllPets {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: auto;
    padding: 5px 20px;
    color: rgb(18, 95, 60);
    background-color: rgba(174, 229, 123, 0.162);
    font-size: 20px;
    font-weight: bold;
    font-family:cursive;
    border: 1px solid rgba(5, 108, 12, 0.621);
    border-radius: 20px;
    transition: all 0.3s ease;
    letter-spacing: 3px;
}

.btnAllPets:hover {
    background-color: #ffff;
    color: rgb(50, 136, 173);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    
}   

.card:hover {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}