.logo {
    height: 10vh;
}

header {
    position: absolute;
    z-index: 100;
    width: 100%;
}

header ul li {
    display: inline-block;
    position: relative;
}

header ul li:hover {
    color: rgb(123, 89, 89);
}

header ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 3.5vh;
    left: 0;
    width: 100%;
    border-bottom: 2px solid;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

header ul li:hover::after {
    transform: scaleX(1);
}